/*video, queremos el video al costado */
.deLado {
    float: left; /*flotando a la izq*/
    width: auto; /*auto para que se acomode en relacion a la medida*/
}



/*empieza en la parte del section*/
.centrado{
    display: flex;
    justify-content: center; /*contenido al centro*/
}

/*aplica para los div clase galeria*/
.galeria{
    margin: 5px;
    border:1px double black;
    float: left;
    width: 33vw;
}

/*para las imagenes dentro de de un div con la clase galeria*/
div.galeria img {
    width:100%;
    height: auto;
}

div.galeria img:hover {
    transform: scale(1.2);
    background-color: aqua;
}


/*descripcion de las imagenes*/
.descripcion {
    padding: 15px;
    text-align: center;
}

